<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>display_accessrecord</title>
</head>
<body>
    <center>
        <h1>display_accessrecord</h1>
        <form method="post">
            {% csrf_token %}
            <label for="topic">Name</label>
            <select name="topic" id="topic">
                <option value="to">...option...</option>
                {% for wo in access %}
                    <option value="{{wo}}">{{wo.name}}</option>
                {% endfor %}
            </select><br><br>

            <label for="author">Author</label>
            <input type="text" name="author" id="author"><br><br>

            <label for="date">Date</label>
            <input type="date" name="date" id="date"> <br><br>

            <input type="submit" value="Insert">


        </form>
    </center>
</body>
</html>